#**Des bases python pour démarrer**
####   **Les activités suivantes illustrent les notions de variables, d'affectation et de liste**
####   **Ces activités sont réalisables dans la console d'un IDE ou dans son éditeur**

### **1. Comme une calculatrice**

- **On peut faire des calculs** avec python comme avec une calculatrice : on utilise la **console**
- **Ce qui est écrit après #** n'est pas pris en compte, il s'agit de remarques.
- **Les nombres entiers** sont appelés en anglais **integer**, en raccourci **int**.
- **Les nombres à virgule**s sont appelés **flottants** ou **float** en anglais.
- Il existe aussi des resultats logiques **True** et **False**

In [ ]:
# Calcul avec des nombres entiers
32 * 10

320

In [ ]:
# Calcul avec des nombres flottants : les virgules sont des points...
4.2 * 10

42.0

In [ ]:
# L'écriture scientifique est aussi permise : c'est aussi un nombre flottant
6.022e23

6.022e+23

- Les opérateurs sont les classiques addition, soustraction, multiplication, division, puissance et d´autres : quotient entier, reste de la division.

In [ ]:
# Les quatres opérations : respect des priorités et des parenthèses
(3-2+5)*6/2

18.0

In [ ]:
# Calculer un carré
3**2

9

In [ ]:
# Division avec quotient entier
7 // 2

3

In [ ]:
# Calcul du reste de la division avec quotient entier
# Un nombre est pair si le reste de la division par 2 est égal à zéro
7 % 2

1

- On peut également effectuer des comparaisons avec les opérateurs == , <=, >, !=

In [ ]:
# comparer deux resultats
2+3/5 == (2+3)/5

False

In [ ]:
# Ces deux nombres sont ils différents ?
-1**2 != (-1)**2

True

In [ ]:
# comparer des ordres de grandeur
3 >= 2

True

### **2. Une variable stocke une valeur en mémoire : c'est une affectation**

- **Une variable** peut contenir des chiffres, des lettres, des objets logiques...
- **Affectation :** on utilise l’opérateur d’affectation « = » pour stocker dans la variable.
- **La variable** s'écrit sans accent et sans espace par une lettre ou un ensemble de lettres.
- **Affichage :** pour afficher la valeur d'une variable on utilise **print( )**.

In [ ]:
a = 2
print(a)

2

- mais on peut aussi soigner la présentation...

In [ ]:
# Il faut séparer la phrase entre guillemets de la variable par une virgule
a = 2
print("le nombre a =",a)

le nombre a = 2

In [ ]:
# affectation de lettres (voir plus loin les chaînes de caractères)
a = "des chiffres"
b = "et des lettres"
print(a,b)

des chiffres et des lettres

- On peut faire des opérations sur les variables.

In [ ]:
a = 30
b = 12
c = a + b
print (c)
d = a * b
print (d)

42
360

### **3. Chaînes de caractères : des chiffres et des lettres**

- Les lettres sont appelées **"chaînes de caractères"**,en anglais **string** et en raccourci **str**.
- On peut faire des opérations avec des chaînes de caractères : on appelle ça des **concaténations**.
- Par exemple compter le nombre de caractères dans une chaîne avec **len( )**.
- Ou compter le nombre d'occurences d'une lettre avec **.count( )**

In [ ]:
# Pour concaténer des chaines on les ajoute avec +
a = "coul"
b = "euvre"
c = a + b
print (c)
c = c + " verte"
print (c)

couleuvre
couleuvre verte

In [ ]:
a = "HA!"
b = "HO!"
lol = 5*(2*a + b)  # La concaténation combine les opérateurs +, * et ()
print(lol)

HA!HA!HO!HA!HA!HO!HA!HA!HO!HA!HA!HO!HA!HA!HO!

In [ ]:
alphabet ="abcdefghijklmnopqrstuvwxyz"
n = len(alphabet) # longueur de la chaîne de caractères
print(n)

26

In [ ]:
mot ="anticonstitutionnel"
n = mot.count("n") # compter le nombre de lettres n
print(n)

4

### **4. Saisie utilisateur et conversion**

- Le programme demande d'entrer un nombre avec **input( )** : c'est une saisie, une entrée.
- Par défaut la variable à laquelle on affecte cette saisie est considérée comme une **chaîne de caractères.**
- Les types d'objets courants sont str (chaîne), int(entier), float(virgule)
- Les lignes vides n'ont pas d'importance, elles "aèrent" le code

In [ ]:
# On peut utiliser des guillemets simples '' ou doubles ""
prenom = input("entre ton prénom")
nom = input('entre ton nom')


print ("bonjour",prenom,nom)

In [ ]:
# type() permet de définir la catégorie de l'objet testé
a = input ("entre un nombre entier")
print(type(a))

- On ne peut pas faire des calculs avec des chaines de caractères donc on convertit en nombres avec **int( )** ou **float( )**

In [ ]:
# Conversion en int ou en float
# Attention la virgule est le point .

a = int(input ("entre un nombre entier"))
b = float(input("entre un nombre à virgule"))

print(type(a))
print(type(b))

In [ ]:
a = float(input ("a ="))
b = float(input("b ="))
c = float(input("c ="))
print("delta =",b**2 - 4*a*c)

### **5. Les listes**

- **Les listes** permettent de stocker plusieurs résultats dans un ordre donné entre crochets [ ]
- On peut mélanger plusieurs types dans une liste : des nombres, des chaînes...
- On peut **compter** le nombre d'éléments dans une liste avec len( ).
- On peut **chercher** un élément par son index (numéro) avec liste [ ]
- **Important :** Les index commencent à 0
- **On ajoute un élément** dans une liste avec liste.append()

In [ ]:
liste =[1,"boa",33,"a"]
print(len(liste))

In [ ]:
# l'élément d'index 2 est ici le troisième
liste =[1,"boa",33,"a"]
print(liste[2])

In [ ]:
# Pour ajouter le nombre 42 à la liste
liste =[1,"boa",33,"a"]
liste.append(42)
print(liste)

In [ ]:
# Pour compter le nombre d'occurences d'un élément dans une liste
liste =[1,7,2,3,4,4,6,5,6,6,7,1,8,7]
n = liste.count(7)
print(n)

In [ ]:
# Pour trouver l'index d'un élément dans une liste (le premier s'il y en a plusieurs)
liste =[1,9,3,5,4,4,5,6,7,6,8,10,11]
n = liste.index(6)
print(n)